body {
    color: white;
    font-family: Lato, Arial;
    text-align: center;
  }
  
  p {
    font-size:14pt;
  }
  
  li {
    padding-bottom: 5px;
    text-align: left;
    font-size:10pt;
  }
  
  h1 {
    color: rgb(230, 230, 33);
  }
  
  h2 {
    padding-top: 50px;
  }
  
  
@keyframes bodyColorAnimation {
  0% {
    background-color: red;

  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}