html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
  }
  
  body {
    font-family: 'Verdana', sans-serif;
    background-image: url('https://abload.de/img/bgvskt1.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
    color: rgb(25, 73, 116);
  }
  
  a {
    color: darkmagenta;
    text-decoration: none;
  }
  
  .title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }
  
  .description {
    border: 4px solid aliceblue;
    margin: 30px 100px;
    padding: 30px;
    text-align: center;
  }
  
  .video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  margin-top: 20px;
  }
  
  .video {
    margin: 30px;
    width: 400px;
    height: 300px; 
  }
  
  
  .video .thumbnail {
    border: 4px solid #fff;
    width: 100%;
    height: 100%; 
  }
  
  /* FOOTER NAVIGATION */
  
  nav {
    background-color: #FFF;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
  }
  
  nav ul {
    display: inline;
  }
  
  .contact-button {
    float: right;
  }
  
  .contact-button a {
    cursor: crosshair;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid darkmagenta;
    position: relative;
  }
  
  a:hover {
    color: black;
    cursor: progress;
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: darkmagenta;
    text-decoration: none;
  }
  
  
  
  
  